#js-search-input {
  width: 100%;
  padding: 5px;
}

#js-search-result {
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  padding-bottom: 10px;
}

#js-search-result ul {
  padding-inline-start: 0px;
  margin-top: 0;
}

#js-search-result-heading {
  margin: 10px 0 5px;
  color: black;
  font-weight: 700;
}

.search-result-item {
  font-size: 16px;
  list-style-type: none;
  text-decoration: none;
  padding: 5px 0;
}

.search-result-item:hover {
  background: #f0f0f0;
  color: black;
  cursor: pointer;
}

.search-result-item:nth-child(even) {
  background: #f6f6f6;
}

.search-result-item:nth-child(even):hover {
  background: #f0f0f0;
}

.search-result-item span.mjpage {
  margin: 0;
}

.search-result-item li,
.search-result-item img {
  display: none;
}

.search-result-item .mjpage {
  pointer-events: none;
}
