.scrollwrap {
	overflow-x: scroll;
}

body{
    background: #fff;
    margin:0 auto;
	text-rendering: optimizeLegibility;
	font-size: 1em;
}
table{
	border-spacing: 0px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: 500;
	color: #000000;
	text-align: left;
}
.clear{
    clear: both;
    height: 0;
    visibility: hidden;
    display: block;
}
.firstcolumn{
	font-family: Arial, Verdana, Helvetica, sans-serif;

}
.note {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: 500;
	color: #787878;
	padding: 29px 0px 15px 0px;
	margin: 0px;
}
a{
    text-decoration: none;
}
button{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: 700;
	margin: 20px 0px 20px 0px;
	background-color: #eee;
	border-radius: 5px;
	border: 1px solid #ddc;
	padding: 5px 5px 5px 5px;
	color: #9999A7;
    border-width: 1px;
}

#tab-container{
    font-family: Arial, Verdana, Helvetica, sans-serif;
}

#tab-menu {
    width: 100%;
    margin: 0;
    padding: 0;
	display: block;
    float: left;
    position: relative;
	text-transform: uppercase;
    background: #359BB7;
    color: #FFFFFF;
	border-style: none;
}

.tab-menu-option {
	display: inline;
    margin: 0.5em 0.5em 0 0.5em;
    float: left;
    cursor: pointer;
	font-size: 0.9em;
}

.tab-menu-option-active {
	font-weight: bold;
	color: #FFFFFF;
	border-width: 0px 0px 4px 0px;
	border-bottom-color: #1E5075;
	border-style: solid;
	padding-bottom: 10px;
}

.tab-content{
    background: #efefef;
    background: #fff;
    text-align: left;
    display: none;
    padding: 30px 0 0 0;
	margin: 0 0.5em;
}

#charpc-menu, #charmac-menu {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    color: #359BB7;
}
.charpc-menu-option, .charmac-menu-option {
	color: #359BB7;
	cursor: pointer;
	display: inline;
	margin: 0px 10px 0px 0px;
}

.charpc-menu-option-active, .charmac-menu-option-active {
	border-width: 0px 0px 2px 0px;
	border-bottom-color: #359BB7;
	border-style: solid;
}

.charpc-content, .charmac-content {
    background: #efefef;
    background: #fff;
    text-align: left;
    display: none;
    margin: 0;
    padding: 0;
}

h1{
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	font-weight: 500;
	color: #359BB7;
	margin: 0;
	padding: 30px 0px 20px 0px;
}

h2 {
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	color: black;
}

h3 {
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	color: black;
}

.special-key {
	color: #ffffff;
	background-color: #359BB7;
	text-align: center;
	border-radius: 4px;
	width: 40px;
	height: 42px;
	line-height: 42px;
	display: block;
	box-shadow: 2px 2px 5px rgba(0,0,0,.15);
	cursor: pointer;
}

.infotext {
	color: grey;
	font-size: 16px;
	margin-top: 30px;
	margin-bottom: 30px;
	line-height: 1.7em;
}

.formulae table {
	border: 1px solid #c8c8c8;
	border-collapse: collapse;
	vertical-align: middle;
	table-layout: fixed;
	margin: 1em 0;
  	min-width: 300px;
}

.formulae th {
	font-weight: bold;
	background-color: #fefefe;
}

.formulae td {
	background-color: #fafafa;
}

.formulae th, td {
	margin: .5em 1em;
	border: 1px solid #c8c8c8;
	display: table-cell;
	padding: .5em;
}

.formulae svg {
	cursor: pointer;
	transition: all .2s ease-in-out;
}

/* Ajax loader */

#loading {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: block;
	opacity: 0.7;
	background-color: #fff;
	z-index: 99;
	text-align: center;
}

#loading-text {
	font-family: Arial,  Verdana, Helvetica, sans-serif;

	width:200px;
    height:100px;
    position:absolute;
    left:50%;
    top:50%;
	margin-left:-100px;
    margin-top:-50px;
	text-align: center;
	z-index: 100;
	background-color: white;
}

#copying {
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	opacity: 0.7;
	background-color: #fff;
	z-index: 99;
	text-align: center;
}

#copy-text {
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	font-size: 20px;

	width:200px;
    height:100px;
    position:absolute;
    left:50%;
    top:50%;
	margin-left:-100px;
    margin-top:-50px;
	text-align: center;
	z-index: 100;
	background-color: white;
}