body{
    background: #fff;
    margin:0;
}
table{
	padding:0px;
	border:0px;
	border-spacing:0px;
	font-family: font-family: Arial,  Verdana, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #000000;
	padding: 0px 15px 0px 0px;
	text-align: left;
}
td {
	padding: 0px 15px 6px 0px;
}
.clear{
    clear: both;
    height: 0;
    visibility: hidden;
    display: block;
}
.firstcolumn{ 
	font-family: font-family: Arial,  Verdana, Helvetica, sans-serif;
	font-size: 20px;
	min-width: 25px;
}
.note { 
	font-family: font-family: Arial,  Verdana, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #787878;
	padding: 29px 0px 15px 0px;
	margin: 0px;
}
a{
    text-decoration: none;
}
button{
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 700;
	margin: 20px 0px 20px 0px;
	background-color: #eee;
	border-radius: 5px;
	border: 1px solid #ddc;
	padding: 5px 5px 5px 5px;
	color: #9999A7;
    border-width: 1px;
}
#tab-container{
    font-family: Arial,  Verdana, Helvetica, sans-serif;
}
#tab-container ul{
    list-style: none;
    list-style-position: outside;
    width: 100%;
}
#tab-container ul.tab-menu li{
	display: block;
    float: left;
    position: relative;
    font-size: 13px;
	text-transform: uppercase;
    margin: 10px 10px 0px 10px;
    background: #359BB7;
    color: #FFFFFF;
    height: 22px;
	border-style: solid;
	border-width: 0px 0px 4px 0px;
	border-bottom-width: 4px; 
	border-bottom-color: #359BB7;
}
#tab-container ul.tab-menu li.active{
    background: #359BB7;
    color: #1E5075;
	font-weight: bold;
	color: #FFFFFF;
	border-width: 0px 0px 4px 0px;
	border-bottom-width: 4px; 
	border-bottom-color: #1E5075;
}
.tab-menu {
	padding: 0px;
	margin: 0px;
	width: 100%;
}
#tab-menu-container {
	width: 100%;
	background: #359BB7;
	border-style: none;
	border-width: 0px;
	padding-left: 10px;
}
.tab-content{
    margin: 0 auto;
    background: #efefef;
    background: #fff;
    text-align: left;
    font-size: 20px;
    display: none;
    margin: 0px 30px 20px 20px;
}
#tab-container div.active{
    display: block;
}
h1{
	font-family: font-family: Arial,  Verdana, Helvetica, sans-serif;
   	font-size: 20px;
	font-weight: 500;
	color: #359BB7;
	margin: 0;
	padding: 30px 0px 20px 0px;
}
