body {
  background: #fafafa;
  color: #333333;
  margin: 0 auto;
  text-rendering: optimizeLegibility;
  font-size: 1em;
}

* {
  outline: none;
  box-sizing: border-box;
}

.scrollwrap {
  overflow-x: auto;
}

.boxed,
table.formulae {
  background-color: white;
  border: 1px solid #dfdfdf;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.15);
  margin: 10px;
  padding: 10px;
}

.boxed li {
  margin-bottom: 8px;
}

.tab-view .boxed h3 {
  margin-top: 10px;
  margin-bottom: 0px;
}

.boxed img {
  display: block;
  margin: auto;
}

table {
  border-spacing: 0px;
  font-weight: inherit;
  color: #000000;
  text-align: left;
  margin-right: 20px;
}

.clear {
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}

.note {
  font-weight: 500;
  color: #787878;
  padding: 29px 0px 15px 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

button {
  background-color: white;
  border-radius: 5px;
}

#tab-container {
  font-family: 'Source Sans Pro', Arial, Verdana, Helvetica, sans-serif;
}

#tab-menu {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  position: fixed;
  background: #e0f4fe;
  border-style: none;
  z-index: 2000;
}

.tab-menu-option,
.tab-menu-language-option {
  margin: 0.5em 0.5em 0px 0.5em;
  float: left;
  cursor: pointer;
  font-size: 0.9em;
}

.tab-menu-option:focus-visible,
.tab-menu-language-option:focus-visible {
  color: black;
  font-weight: bold;
}

.tab-menu-option.active,
.tab-menu-language-option.active {
  font-weight: bold;
  border-width: 0px 0px 4px 0px;
  border-bottom-color: #1e4f75;
  border-style: solid;
  padding-bottom: 10px;
}

.tab-menu-language-selection {
  float: right;
}

.tab-menu-opennavi {
  float: left;
  cursor: pointer;
  margin: 0.5em 0.5em 0 0.5em;
  width: 16px;
}

.tab-menu-opennavi:after,
.tab-menu-opennavi:before,
.tab-menu-opennavi div {
  background-color: #333;
  border-radius: 3px;
  content: '';
  display: block;
  height: 2px;
  margin-bottom: 3px;
  transition: all 0.2s ease-in-out;
}

.tab-menu-opennavi:focus::after,
.tab-menu-opennavi:focus::before,
.tab-menu-opennavi:focus div {
  background-color: black;
  height: 4px;
  margin-bottom: 1px;
}

.tab-content {
  text-align: left;
  display: none;
  padding-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
  line-height: 1.5;
}

.tab-content img {
  vertical-align: middle;
}

.tab-content.active {
  display: block;
}

.tab-view {
  display: inline-block;
  margin-bottom: 200px;
}

.tab-view h2 {
  font-size: 30px;
  padding-top: 50px;
}

.tab-view h3 {
  font-size: 24px;
  padding-top: 50px;
}

.tab-view h4 {
  margin-bottom: 5px;
}

.js-toc {
  left: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  width: 300px;
  display: block;
  font-size: 20px;
  border-right: 2px #359bb7;
  overflow-y: auto;
  background: white;
  z-index: 2000;

  opacity: 1;
  transition: left ease-in-out 0.2s, opacity linear 0.2s;

  padding: 10px;
}

.js-toc.hidden {
  left: -320px;
  opacity: 0;
}

.js-toc::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-right: 2px transparent;
}

.js-toc::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.js-toc::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
}

.js-toc-content {
  position: absolute;
  left: 350px;
  top: 40px;
  right: 0;
  bottom: 0;
}

.js-toc .toc-list {
  list-style-type: none;
  color: #43464b;
  padding-top: 10px;
}

.js-toc .toc-list li {
  margin-bottom: 6px;
  padding: 6px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.05);
  transition: background-color 0.07s;
}

.js-toc .toc-list li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.js-toc .toc-list li.is-active-li {
  background-color: rgba(224, 244, 254, 0.9);
}

.is-active-link {
  font-weight: normal !important;
}

.toc-link {
  /* gives a bigger area to click on */
  display: inline-block;
  width: 100%;
  border: transparent 1px solid;
  padding: 1px;
}

.toc-link:focus-visible {
  border: black 1px solid;
}

.js-toc>.js-toc-result>.toc-list {
  padding: 10px 0 0;
}

.js-toc>ul>li {
  margin-bottom: 15px;
  font-size: 16px;
}

.js-toc li ul {
  font-size: 16px;
}

.is-active-link::before {
  background-color: #359bb7 !important;
}

a.toc-link:before {
  content: none;
  display: none;
}

#charpc-menu,
#charmac-menu {
  color: #359bb7;
}

.charpc-menu-option,
.charmac-menu-option {
  color: #359bb7;
  cursor: pointer;
  display: inline;
  margin: 0px 10px 0px 0px;
}

.charpc-menu-option-active,
.charmac-menu-option-active {
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #359bb7;
  border-style: solid;
}

.charpc-content,
.charmac-content {
  background: #efefef;
  background: #fff;
  text-align: left;
  display: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3em;
  font-weight: 500;
  color: #282828;
  margin: 0;
  padding: 30px 0px 20px 0px;
}

h2 {
  color: black;
}

h3 {
  color: black;
}

.infotext {
  color: grey;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 1.7em;
}

.formulae table {
  border: 1px solid #c8c8c8;
  border-collapse: collapse;
  vertical-align: middle;
  table-layout: fixed;
  margin: 1em 0;
  min-width: 300px;
}

.formulae th {
  background-color: #fefefe;
  font-weight: bold;
  vertical-align: top;
}

.formulae td {
  background-color: #fafafa;
}

.formulae th,
.formulae td {
  margin: 0.5em 1em;
  border: 1px solid #c8c8c8;
  display: table-cell;
  padding: 0.5em;
  font-size: 14px;
}

.formulae svg {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.mjpage {
  margin: 2px;
}

.mjpage a,
.mjpage a:visited,
.mjpage a:hover,
.mjpage a:active {
  text-decoration: none;
  color: inherit;
}

.mjpage svg {
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

.mjpage svg:hover {
  border: 1px solid #a9a9a9;
  box-shadow: 0px 3px 0px -2px rgb(234, 222, 222), 0px 2px 0px 0px rgba(169, 169, 169, 1);
}

button.mjpage {
  margin: 2px;
  color: #000000;
}

button.mjpage:focus {
  margin: 0;
}

button.mjpage__block,
button.mjpage__block:focus {
  max-width: fit-content;
  margin: 0 auto;
}

button.mjpage__block {
  border: transparent 2px solid;
}

/* Ajax loader */

#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.9;
  background-color: #fff;
  z-index: 2100;
  text-align: center;
}

#loading.hidden {
  left: 100%;
  opacity: 0;
  transition: left 0s 0.3s, opacity linear 0.3s;
}

#loading-text {
  width: 200px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -50px;
  text-align: center;
  z-index: 2101;
  background-color: white;
  font-weight: bold;
}

.copying-box {
  padding: 10px;
  margin: 10px;
  background-color: #14586b;
  position: fixed;
  z-index: 2050;

  opacity: 0;
  top: -100px;
}

.copying-box.animate {
  animation: copyingBoxFade 2s;
}

.copy-text {
  font-size: 1.1em;
  margin: 8px;
  text-align: center;
  color: white;
}

@keyframes copyingBoxFade {
  0% {
    opacity: 100%;
    top: 0;
  }

  50% {
    opacity: 100%;
  }

  90% {
    top: 0;
  }

  100% {
    opacity: 0%;
    top: -100px;
  }
}

/*
	Mobile layouts
*/

@media screen and (min-width: 1025px) {
  .tab-menu-opennavi {
    display: none;
  }

  .tab-menu-option-short {
    display: none;
  }

  .tab-menu-option-long {
    display: inline;
  }
}

@media screen and (max-width: 1024px) {
  .tab-menu-opennavi {
    display: block;
  }

  .js-toc-content {
    position: static;
  }

  .tab-view {
    display: block;
  }

  .tab-view h3 {
    margin-left: 0px;
    font-size: 30px;
    margin-top: 50px;
  }

  .tab-menu-option-short {
    display: inline;
  }

  .tab-menu-option-long {
    display: none;
  }
}

@media screen and (max-width: 600px) {

  .formulae th,
  .formulae td {
    margin: 0.5em 1em;
    border: 1px solid #c8c8c8;
    display: table-cell;
    padding: 0.5em;
    font-size: 10px;
  }
}

video {
  width: 100% !important;
  height: auto !important;
}