body{
    background: #fff;
    margin:0;
}
table{
	padding:0px;
	border:0px;
	border-spacing:0px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #000000;
	padding: 0px 15px 0px 0px;
	text-align: left;
}
td {
	padding: 0px 15px 6px 0px;
}
.clear{
    clear: both;
    height: 0;
    visibility: hidden;
    display: block;
}
.firstcolumn{ 
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 20px;
}
.note { 
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #787878;
	padding: 29px 0px 15px 0px;
	margin: 0px;
}
a{
    text-decoration: none;
}
button{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 700;
	margin: 20px 0px 20px 0px;
	background-color: #eee;
	border-radius: 5px;
	border: 1px solid #ddc;
	padding: 5px 5px 5px 5px;
	color: #9999A7;
    border-width: 1px;
}

#tab-container{
    font-family: Arial, Verdana, Helvetica, sans-serif;
}

#tab-menu {
    width: 100%;
    margin: 0;
    padding: 0;
	display: block;
    float: left;
    position: relative;
    font-size: 13px;
	text-transform: uppercase;
    background: #359BB7;
    color: #FFFFFF;
	border-style: none;
}

.tab-menu-option {
	display: inline;
    margin: 10px 10px 0 10px;
    float: left;
    cursor: pointer;
}

.tab-menu-option-active {
	font-weight: bold;
	color: #FFFFFF;
	border-width: 0px 0px 4px 0px;
	border-bottom-color: #1E5075;
	border-style: solid;
	padding-bottom: 10px;
}

.tab-content{
    background: #efefef;
    background: #fff;
    text-align: left;
    font-size: 20px;
    display: none;
    margin: 0px 30px 20px 20px;
    padding: 30px 0 0 0;
}

#charpc-menu, #charmac-menu {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    color: #359BB7;
    font-size: 16px;
}
.charpc-menu-option, .charmac-menu-option {
	color: #359BB7;
	cursor: pointer;
	display: inline;
	margin: 0px 10px 0px 0px;
}

.charpc-menu-option-active, .charmac-menu-option-active {
	border-width: 0px 0px 2px 0px;
	border-bottom-color: #359BB7;
	border-style: solid;
}

.charpc-content, .charmac-content {
    background: #efefef;
    background: #fff;
    text-align: left;
    font-size: 20px;
    display: none;
    margin: 0px 30px 20px 20px;
    padding: 30px 0 0 0;
}

h1{
	font-family: Arial,  Verdana, Helvetica, sans-serif;
   	font-size: 20px;
	font-weight: 500;
	color: #359BB7;
	margin: 0;
	padding: 30px 0px 20px 0px;
}

h2 {
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	font-size: 18px;
	color: black;
}

h3 {
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	font-size: 16px;
	color: black;
}

.special-key {
	color: #ffffff;
	background-color: #359BB7;
	text-align: center;
	border-radius: 4px;
	width: 40px;
	height: 42px;
	line-height: 42px;
	display: block;
	box-shadow: 2px 2px 5px rgba(0,0,0,.15);
}

.formulae table {
	border: 1px solid #c8c8c8;
	border-collapse: collapse;
	vertical-align: middle;
}

.formulae th {
	font-size: 14px;
	font-weight: bold;
	background-color: #fefefe;
	padding: 5px;

	border: 1px solid #c8c8c8;
}

.formulae td {
	font-size: 14px;
	background-color: #fafafa;
	padding: 10px 5px;

	border: 1px solid #c8c8c8;
}

/* Ajax loader */

#loading {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: block;
	opacity: 0.7;
	background-color: #fff;
	z-index: 99;
	text-align: center;
}

#loading-text {
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	font-size: 20px;

	width:200px;
    height:100px;
    position:absolute;
    left:50%;
    top:50%;
	margin-left:-100px;
    margin-top:-50px;
	text-align: center;
	z-index: 100;
	background-color: white;
}
