body{
    background: #FAFAFA;
    color: #333333;
    margin:0 auto;
    text-rendering: optimizeLegibility;
    font-size: 1em;
}

.scrollwrap {
	overflow-x: auto;
}

.scrollwrap h2, h3, h4 {
	display: inline-block;
}

.boxed,
table.formulae {
    background-color: white;
    border: 1px solid #dfdfdf;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.15);
    margin: 10px;
    padding: 10px;
}

.boxed li {
    margin-bottom: 8px;
}

.tab-view .boxed h3 {
    margin-top: 10px;
    margin-bottom: 0px;
}

.boxed img {
    display: block;
    margin: auto;
}

table{
	border-spacing: 0px;
	font-weight: inherit;
	color: #000000;
	text-align: left;
	margin-right:20px;
}
.clear{
    clear: both;
    height: 0;
    visibility: hidden;
    display: block;
}
.firstcolumn{

	padding-right: 50px;
}

.note {

	font-weight: 500;
	color: #787878;
	padding: 29px 0px 15px 0px;
	margin: 0px;
}
a{
    text-decoration: none;
}
button{

	font-weight: 700;
	margin: 20px 0px 20px 0px;
	background-color: #eee;
	border-radius: 5px;
	border: 1px solid #ddc;
	padding: 5px 5px 5px 5px;
	color: #9999A7;
    border-width: 1px;
}

#tab-container{
    font-family: "Source Sans Pro", Arial, Verdana, Helvetica, sans-serif;
}

#tab-menu {
    width: 100%;
    margin: 0;
    padding: 0;
	display: block;
    float: left;
    position: fixed;
	text-transform: uppercase;
    background: #359BB7;
    color: #FFFFFF;
	border-style: none;
	z-index: 10;
}

.tab-menu-option {
	display: inline;
    margin: 0.5em 0.5em 0 0.5em;
    float: left;
    cursor: pointer;
	font-size: 0.9em;
}

.tab-menu-option-active {
	font-weight: bold;
	color: #FFFFFF;
	border-width: 0px 0px 4px 0px;
	border-bottom-color: #1E5075;
	border-style: solid;
	padding-bottom: 10px;
}

.tab-menu-opennavi {
	display: inline;
    margin: 0.5em 0.5em 0 0.5em;
    float: left;
    cursor: pointer;
	font-size: 0.9em;
}

.tab-content{
    text-align: left;
    display: none;
    padding: 30px 0 200px 0;
	margin-left: 10px;
	margin-right: 10px;
}

.tab-view {
	display: inline-block;
	margin-bottom: 200px;
}

.tab-view h2 {
	font-size: 30px;
	margin-top: 50px;
}

.tab-view h3 {
	font-size: 24px;
	margin-top: 50px;
}

.tab-view h4 {
	margin-bottom: 5px;
}

.js-toc {
	left: 0;
	top: 0;
	bottom: 0;
	position: fixed;
	width: 300px;
	display: block;
	padding-top: 20px;
	font-size: 20px;
	border-right: 2px #359BB7;
	overflow-y: auto;
	background: white;
	z-index: 9;
}

.js-toc::-webkit-scrollbar-track {
	background-color: #F5F5F5;
	border-right: 2px transparent;
}

.js-toc::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

.js-toc::-webkit-scrollbar-thumb {
	background-color: #359BB7;
}

.js-toc-content {
	position: absolute;
	left: 350px; top: 40px; right:0; bottom:0;
}

.js-toc .toc-list {
	list-style-type: none;
	color:#43464B;
}

.js-toc .is-active-link {
	color: black;
}

.js-toc > ul > li {
	margin-bottom: 15px;
	font-size: 16px;
}

.js-toc li ul {
	font-size: 16px;
}

.is-active-link::before {
	background-color: #359BB7 !important;
}

a.toc-link:hover {
  color:black;
}
a.toc-link:before {
    content: none;
    display: none;
}
#charpc-menu, #charmac-menu {
    color: #359BB7;
}
.charpc-menu-option, .charmac-menu-option {
	color: #359BB7;
	cursor: pointer;
	display: inline;
	margin: 0px 10px 0px 0px;
}

.charpc-menu-option-active, .charmac-menu-option-active {
	border-width: 0px 0px 2px 0px;
	border-bottom-color: #359BB7;
	border-style: solid;
}

.charpc-content, .charmac-content {
    background: #efefef;
    background: #fff;
    text-align: left;
    display: none;
    margin: 0;
    padding: 0;
}

h1{

	font-size: 3em;
	font-weight: 500;
	color: #359BB7;
	margin: 0;
	padding: 30px 0px 20px 0px;
}

h2 {

	color: black;
}

h3 {

	color: black;
}

.infotext {
	color: grey;
	font-size: 16px;
	margin-top: 30px;
	margin-bottom: 30px;
	line-height: 1.7em;
}

.formulae table {
	border: 1px solid #c8c8c8;
	border-collapse: collapse;
	vertical-align: middle;
	table-layout: fixed;
	margin: 1em 0;
  	min-width: 300px;
}

.formulae th {
	background-color: #fefefe;
	font-weight: bold;
	vertical-align: top;
}

.formulae td {
	background-color: #fafafa;
}

.formulae th, td {
	margin: .5em 1em;
	border: 1px solid #c8c8c8;
	display: table-cell;
	padding: .5em;
	font-size: 14px;
}

.formulae svg {
	cursor: pointer;
	transition: all .2s ease-in-out;
}

table.borderless,
table.borderless th,
table.borderless td {
	border: 0;
}

table.row-highlight tr:nth-child(even) {
	background: #eee;
}

table.row-highlight img {
	vertical-align: middle;
	padding: 0 8px 0 8px;
}

table.row-highlight tr:nth-child(odd) {
	background: #FFF;
}

/* Keyboard buttons*/
* { outline: none !important; }
.key a,
.key a:visited,
.key a:hover,
.key a:active,
.mjpage a,
.mjpage a:visited,
.mjpage a:hover,
.mjpage a:active
{
	text-decoration: none;
	color: inherit;
}

.mjpage svg {
	border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer;
}

.mjpage svg:hover {
	border: 1px solid #a9a9a9;
	box-shadow: 0px 3px 0px -2px rgb(234, 222, 222), 0px 2px 0px 0px rgba(169,169,169,1);
}

.key
{
	width: 35px;
	height: 37px;
	padding: 1px;
	margin: 10px;
}
.key > span
{
	background-color: rgb(244, 249, 255);
	display: block;
	width: 35px;
	height: 35px;
	border: 1px solid #a9a9a9;
	border-radius: 4px;
	font-size: 14px;
	box-sizing: border-box !important;
	text-align: center;
	padding-top: 10px;
	color: #7c7c7c;
	box-shadow: 0px 3px 0px -2px rgb(234, 222, 222), 0px 2px 0px 0px rgba(169,169,169,1);
}

.key.clickable > span:hover
{
	background-color: #75b4fb;
	border: 1px solid #5a88c5;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 3px 0px -2px rgba(117,180,251,1), 0px 2px 0px 0px rgba(90,136,197,1);
	cursor: pointer;
}

.key.clickable > span:active,
.mjpage svg:active
{
	margin-top: 2px;
	box-shadow: none;
}

.mjpage svg:active
{
	margin-bottom: -2px;
}

.key.keyboard > span
{
	padding-top: 15px;
	font-size: 11px;
}

/* Ajax loader */

#loading {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: block;
	opacity: 0.9;
	background-color: #fff;
	z-index: 99;
	text-align: center;
}

#loading-text {
	width:200px;
  height:100px;
  position:absolute;
  left:50%;
  top:50%;
	margin-left:-100px;
  margin-top:-50px;
	text-align: center;
	z-index: 100;
	background-color: white;
  font-weight: bold;
}

.copying-box {
	display: none;
	width: 100%;
	top: 0;
	position: fixed;
	height: 40px;
	background-color: #359BB7;
	z-index: 99;
}

.copy-text {

	font-size: 1.1em;
	margin: 8px;
	text-align: center;
	color: white;
}

/*
	Mobile layouts
*/

@media screen and (min-width: 1025px) {
	.tab-menu-opennavi {
		display: none;
	}

	.tab-menu-option-short {
		display:none;
	}

	.tab-menu-option-long {
		display:inline;
	}
}

@media screen and (max-width: 1024px) {

	.tab-menu-opennavi {
		display:block;
	}

	.js-toc-content {
		position: static;
	}

	.tab-view {
		display: block;
	}

	.tab-view h3 {
		margin-left: 0px;
		font-size: 30px;
		margin-top: 50px;
	}

	.tab-menu-option-short {
		display:none;
	}

	.tab-menu-option-long {
		display:inline;
	}
}

@media screen and (max-width: 700px) {

	.tab-menu-option-short {
		display:inline;
	}

	.tab-menu-option-long {
		display:none;
	}
}

@media screen and (max-width: 600px) {

	.formulae th, td {
		margin: .5em 1em;
		border: 1px solid #c8c8c8;
		display: table-cell;
		padding: .5em;
		font-size: 10px;
	}
}

video {
  width: 100% !important;
  height: auto !important;
}
