dist: focal
language: node_js
node_js:
  - 16

cache:
  yarn: true
  directories:
    - node_modules

branches:
  only:
    - master
    - release

before_install:
  - sudo sysctl -w fs.inotify.max_user_watches=100000
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s
  - export PATH=$HOME/.yarn/bin:$PATH
  - npx playwright install

script:
  - yarn build:internet
  - yarn test
  - yarn lint

before_deploy:
  - rm -rf build
  - yarn build:internet
  - mkdir release
  - cp -r common release
  - cp -r build release
  - cp index.html release

deploy:
  - provider: s3
    access_key_id: $TEST_ACCESS_KEY
    secret_access_key: $TEST_SECRET_KEY
    bucket: $TEST_BUCKET
    local-dir: release
    region: eu-north-1
    cache_control: "max-age=3600"
    on:
      branch: master
    skip_cleanup: true
  - provider: s3
    access_key_id: $PROD_ACCESS_KEY
    secret_access_key: $PROD_SECRET_KEY
    bucket: $PROD_BUCKET
    local-dir: release
    region: eu-north-1
    cache_control: "max-age=3600"
    on:
      branch: release
    skip_cleanup: true
