[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Digabi Exam Help
Name[fi]=Koeympäristön ohjeet
Name[sv]=Provmiljöns instruktioner
Exec=/usr/bin/digabi-koe-ohje
Icon=/usr/share/digabi-koe-ohje/help-browser.png
Comment=See instructions
Comment[fi]=Lue ohjeita järjestelmän käyttöön
Comment[sv]=Läs instruktionerna för användning av systemet
