.tab-muzak-playbuttons {
  display: grid;
  grid-template-columns: fit-content(100%) auto;
  align-items: center;
  grid-column-gap: 10px;
}

.tab-muzak-play {
  background-color: #fff;
  padding: 10px;
  color: #1e5075;
  cursor: pointer;
  margin: 5px 0 5px 0;
}

.tab-muzak-pause {
  background-color: #1e5075;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  margin: 5px 0 5px 0;
}

.tab-muzak-description {
  font-size: 13.33px;
}

a {
  color: #1e5075;
}

a:focus {
  color: black;
}

button {
  border: transparent 2px solid;
}

button:focus {
  border: black 2px solid;
}
