/* This is tablesorter theme is based on jquery.tablesorter.js stock theme "blue" */

table.sortable tbody td {
  color: #3d3d3d;
  padding: 4px;
  background-color: #fff;
  vertical-align: top;
}

table.sortable tbody tr:nth-child(odd) td {
  background-color: #f0f0f6;
}

table.sortable th.active {
  background-color: #a6c7ff;
}

table.sortable th[data-sortable] {
  cursor: pointer;

  background-image: url(../../../common/images/tablesorter/bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
}

table.sortable th[data-sortable]:focus {
  padding: calc(0.5em - 2px);
  border: 3px solid black;
}

table.sortable th.active[data-sorted='asc'] {
  background-image: url(../../../common/images/tablesorter/asc.gif);
}

table.sortable th.active[data-sorted='desc'] {
  background-image: url(../../../common/images/tablesorter/desc.gif);
}
