/* This is tablesorter theme is based on jquery.tablesorter.js stock theme "blue" */

table.sortable {
  tbody td {
    color: #3d3d3d;
    padding: 4px;
    background-color: #fff;
    vertical-align: top;
  }

  tbody tr:nth-child(odd) td {
    background-color: #f0f0f6;
  }

  th.active {
    background-color: #a6c7ff;

    &[data-sorted='asc'] {
      background-image: url(../../../common/images/tablesorter/asc.gif);
    }

    &[data-sorted='desc'] {
      background-image: url(../../../common/images/tablesorter/desc.gif);
    }
  }

  th[data-sortable] {
    cursor: pointer;

    background-image: url(../../../common/images/tablesorter/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 20px;

    &:hover:not(:focus) {
      background-color: var(--blue-050);
    }

    &:focus {
      outline: 3px solid black;
      outline-offset: -3px;
    }
  }
}
