Source: digabi-koe-ohje
Section: misc
Priority: optional
Maintainer: YTL Admin <lautakunta@ylioppilastutkinto.fi>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/digabi/koe-ohje
Vcs-Git: https://github.com/digabi/koe-ohje.git

Package: digabi-koe-ohje
Architecture: all
Depends: ${shlibs:Depends},
 ${misc:Depends},
 python-qt4,
 gstreamer1.0-plugins-good,
 gstreamer1.0-plugins-ugly,
 gstreamer1.0-libav
Description: End-user documentation for test-taker's device. The
 package contains both Finnish and Swedish documentation.
