body{
    background: #fff;
    margin:0;
}
.clear{
    clear: both;
    height: 0;
    visibility: hidden;
    display: block;
}
.firstcolumn { 
	padding: 0px 25px 0px 0px;
}
p{
	font-family: font-family: Arial,  Verdana, Helvetica, sans-serif;
	font-size :30px;
	padding: 0px 10px 0px 10px;
}
th{
	font-size :20px;
	font-weight: 1100;
}
a {
    text-decoration: none;
}
#tab-container{
    font-family: Arial,  Verdana, Helvetica, sans-serif;
    font-size: 12px;
    line-height:14px;
    margin: 3em auto;
    width: 660px;
    overflow: hidden;
}
#tab-container ul{
    list-style: none;
    list-style-position: outside;
    width: 100%;
}
#tab-container ul.tab-menu li{
    display: block;
    float: left;
    position: relative;
    font-weight: 700;
    padding: 5px 10px 5px 10px;
    background: #eee;
    border: 1px solid #ddc;
    border-bottom: none;
    border-width: 1px;
    color: #999;
    cursor: default;
    height: 14px;
    margin-bottom: -1px;
    margin-right: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#tab-container ul.tab-menu li.active{
    background: #fff;
    color: #0088CC;
    height: 15px;
    border-bottom: 0;
}
.tab-top-border {
    border-bottom: 1px solid #d0ccc9;
}
.tab-content{
    margin: 0 auto;
    background: #efefef;
    background: #fff;
    border: 1px solid #ddc;
    border-top-style: none;
    text-align: left;
    padding: 10px;
    padding-bottom: 20px;
    font-size: 11px;
    display: none;
}
#tab-container div.active{
    display: block;
}
.tab-content h1{
    line-height: 1em;
    height: 28px;
    font-size: 22px;
}